<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>
        %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
      </pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="console" />
  </root>

  <logger name="org.cometd" level="info" />

</configuration>
