<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="bayeux" class="org.cometd.server.BayeuxServerImpl" init-method="start" destroy-method="stop">
    <property name="options">
      <map>
        <!-- Bean "servletContext" is made available by Spring -->
        <entry key="javax.servlet.ServletContext" value-ref="servletContext" />
        <entry key="ws.cometdURLMapping" value="/cometd/*" />
      </map>
    </property>
    <property name="transports">
      <list>
        <bean id="ws" class="org.cometd.server.websocket.jetty.JettyWebSocketTransport">
          <constructor-arg ref="bayeux" />
        </bean>
        <bean id="json" class="org.cometd.server.transport.JSONTransport">
          <constructor-arg ref="bayeux" />
        </bean>
        <bean id="jsonp" class="org.cometd.server.transport.JSONPTransport">
          <constructor-arg ref="bayeux" />
        </bean>
      </list>
    </property>
  </bean>

  <bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
    <property name="attributes">
      <map>
        <entry key="org.cometd.bayeux" value-ref="bayeux" />
      </map>
    </property>
  </bean>

</beans>
